[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
modal = "*"
seaborn = "*"
tensorflow-datasets = "*"
tensorflow = "==2.4.2"
pillow = "!=8.3.0"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.8"
